/*circle.css*/


html {
    font-family: 'Helvetica Neue';
    padding: 20px 40px;
}

h1,h3 {
    margin: 0.3rem 0;
}

li {
    margin: 0.3rem 0;
}

li li {
    font-size: 14px;
}

select:hover,
input:hover {
    cursor: pointer;
}

select {
    padding: 1px 7px;
}

input[type=range] {
    width: 250px;
}

.input-wrapper {
    margin: 15px 0;
}
#pointsCounter {
    margin-right: 30px;
}

label[for=groupsCounter] {
    margin-left: 10px;
}

#output {
    margin: 20px 0 5px 0;
    font-size: 12px;
}

label {
    font-weight: bolder;    
}


canvas {
    padding-left: 1px;
    padding-top: 1px;
    /*border: solid #9FF;
    border-right: 1px;
    border-bottom: 1px;*/
    background-color: #9ff;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

}

